<!DOCTYPE html>
<html>
    <head>
        <title>MathViz - Practice</title>
    </head>
    <body>
        <h1> Equation Page - Allow single equation upload here and solve it and show similar equations. </h1>
    </body>
</html>