<!DOCTYPE html>
<html>
  <head>
    <title> MathViz - Homepage </title>
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
      <div id="first_screen">
        <h1 id="first_screen_first_heading">Ma<span id="math_sign" style="-webkit-animation: fadein 1s;">+</span>&nbsp;&nbsp;hViz</h1>
        <br>
        <br>
        <h3 id="first_screen_subheading"> A Visual Math Equation Solver</h3>
        
      </div>
    <div id="second_screen">
      <h1>What</h1>
    </div>
  <script type="text/javascript" src="js/index.js" ></script>
  </body>
</html>