@import url(https://fonts.googleapis.com/css?family=Dosis:700);

html, body, #particles-js {
  width: 100%;
  height: 100%;
  margin: 0;
  }
      
  #particles-js {
  background-color: #333;   
  }

.text {
  font-weight: 100;
  font-size: 2vw;
  color: #FAFAFA;
}
.dud {
  color: #757575;
}

#particle-js {
  position: absolute;
}

#whole_thing {
  position: absolute;
  top: 0;
}

.dswitch {
  border: 0;
  left:-45vw;
  top:10vh;
    color: #fff;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    position:absolute;
    width: 140vw;
}
.dswitch legend {
    color: #6B6B6B;
    display:block;
    float:left;
    font-size: 12px;
    line-height: 15px;
    padding: 7px 10% 3px 0;
    text-align: right;
    width: 40%;
}
.dswitch input {
    opacity:0;
    position:absolute;
}
.dswitch legend:after {
    border-radius: 3px;
    content:'';
    height: 100%;
    left: 50%;
    padding: 2px;
    position:absolute;
    top: 0;
    width: 50%;
    z-index: 0;
}
.dswitch label {
    color: #DEDEDE;
    cursor: pointer;
    float: left;
  margin-top: 2px;
  font-size: 1.8em;
    padding: 5px 0 3px 0;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    width: 10%;
    z-index: 2;
}
.dswitch input:checked + label {
    color: #6B6B6B;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in;
}
.dswitch input:focus + label {
    background-color: transparent;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in;
}
.dswitch .switch-button {
    border-bottom: solid 5px #C1D82F;
    clear: both;
    height: 100%;
    left: 50%;
    margin: 2px;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    position: absolute;
    top: 0;
    z-index: 1;
}
.dswitch input:last-of-type:checked ~ .switch-button {
    left: 75%;
}
.dswitch.switch-two label {
    width: 16.6%;
}
.dswitch.switch-two .switch-button {
    width: 16%;
}
.dswitch.switch-two input:checked:nth-of-type(2) ~ .switch-button {
    left: 66.6%;
}
.dswitch.switch-two input:checked:last-of-type ~ .switch-button {
  left: 66.26%;
}

#simutaneous {
  position: absolute;
  width: 60%;
  height: 50%;
  top: 34vh;
  left: 25vw;
}

#quadratic {
  position: absolute;
  width: 60%;
  height: 50%;
  top: 34vh;
  left: 25vw;
}

#whole_thing {
  height: 100%;
  width: 100%;
}

label {
 font-size: 5em;
 color: white;
 font-family: 'Dosis';
 white-space: nowrap 
}

label > input {
  background-color: rgba(90, 90, 90, 0.74);
  padding: 0;
  font-size: 1em;
  color: white;
  margin: 0;
  text-align: right;
  font-family: 'Dosis';
  border: #333;
  border-radius: 10px;
  border-bottom: 3mm;
  border-bottom-color: #C1D82F
}

.sup {
  position: relative;
  bottom: 1ex; 
  font-size: 80%;
}

#uploadFile {
  position: absolute;
  z-index: 1;
  top: 80vh;
  left:50vw;
}


.wrapper{
  
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}

  .wrapper >.file-upload{

    height:200px;
    width:200px;
    border-radius: 100px;
    position:relative;
    
    display:flex;
    justify-content:center;
    align-items: center;  

    border:4px solid #FFFFFF;
    overflow:hidden;
    background-image: linear-gradient(to bottom, #2590EB 50%, #FFFFFF 50%);
    background-size: 100% 200%;
    transition: all 1s;
    color: #FFFFFF;
    font-size:100px;
  }
    .wrapper >.file-upload > input[type='file']{

      height:200px;
      width:200px;
      position:absolute;
      top:0;
      left:0;
      opacity:0;
      cursor:pointer;

    }

    .wrapper> .file-upload:hover{

      background-position: 0 -100%;

      color:#2590EB;

    }